@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
:root {
  /* primary colors */
  --clr-primary-1-red: hsl(0, 78%, 62%);
  --clr-primary-2-cyan: hsl(180, 62%, 55%);
  --clr-primary-3-orange: hsl(34, 97%, 64%);
  --clr-primary-4-blue: hsl(212, 86%, 64%);

  /* secondary colors */
  --clr-secondary-1-veryDarkBlue: hsl(234, 12%, 34%);
  --clr-secondary-2-GrayBlue: hsl(229, 6%, 66%);
  --clr-secondary-3-veryLightGray: hsl(0, 0%, 98%);

  /* fonts */
  --bodyFont: "Poppins", sans-serif;

  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

/* body */
body {
  font-family: var(--bodyFont);
  font-size: 0.938rem;
  color: var(--clr-secondary-1-veryDarkBlue);
  background: var(--clr-secondary-3-veryLightGray);
  padding: 1rem 2rem;
  font-family: var(--bodyFont);
  line-height: 1.4;
}
.container {
  min-height: 100vh;
  max-width: 36rem;
  margin: 4rem auto;
}
section {
  display: grid;
  gap: 1.438rem;
}
header {
  margin-bottom: 5.25rem;
}
header h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 200;
  line-height: 1.4;
}
header h1 span {
  font-weight: 600;
}
header p {
  font-size: 0.938rem;
  text-align: center;
  font-weight: 300;
  line-height: 1.563;
}
.card {
  box-shadow: var(--shadow-4);
  padding: 1.75rem;
  border-radius: 0.5rem;
}
.card h2 {
  font-size: 1.25rem;
  font-weight: 600;
}
.card p {
  font-size: 0.813rem;
  font-weight: 300;
}
.card img {
  margin-top: 2.063rem;
  margin-bottom: 1.75rem;
  margin-right: 1.75rem;
  margin-left: auto;
  max-width: 3.563rem;
  max-height: 3.563rem;
}
.card-aqua {
  border-top: 0.25rem solid hsl(180, 62%, 55%);
}
.card-red {
  border-top: 0.25rem solid hsl(0, 78%, 62%);
}
.card-yellow {
  border-top: 0.25rem solid hsl(34, 97%, 64%);
}
.card-blue {
  border-top: 0.25rem solid hsl(212, 86%, 64%);
}
/* media queries */
@media (min-width: 36rem) {
  header {
    max-width: 33.75rem;
    margin: auto;
    margin-bottom: 4rem;
  }
  header h1 {
    font-size: 2.25rem;
  }
  .container {
    max-width: 1200px;
  }
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 7.813rem 7.813rem 7.813rem 7.813rem 7.813rem;
    gap: 1.875rem;
  }
  .card img {
    margin-top: 2.5rem;
  }
  .card-yellow {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }
  .card-aqua {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .card-red {
    grid-column: 2 / 3;
    grid-row: 1 /3;
  }
  .card-blue {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
}
/* credits */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
